*{
    font-family: 'Times New Roman', Times, serif;
}
.header{
    background-color: #0b47a0;
    color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.header ul{
    display: flex;
}
.header ul li{
    padding: 10px;
    list-style: none;
    font-weight: bold;
    padding-left: 30px;
}
.header ul li:hover{
    background-color: rgb(35, 35, 123);
    cursor: pointer;
}
.iogo{
    text-align: center;
    
}
.dropdown{
    position: relative;
    display: inline-block;
}
.drop{
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 200px;
}
.drop a{
    color: rgb(87, 87, 219);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .drop{
    display: block;
}
