.training{
    text-align: center;
    color: blue;
}
.training1{
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-top: 40px;
    grid-row-gap: 20px;
    margin-left: 100px;
}
.grid1 img{
   width: 80px;
   margin-top: 20px;
}
.grid1{
    border-radius: 40px;
    width: 400px;
    height: 250px;
    background-color:rgb(242, 239, 233);
    text-align: center;
}
.grid1 p{
    margin-left: 20px;
    margin-right: 20px;
}
.grid1 h3{
    font-weight: bold;
}
